
<%= link_to("<< Back to List", questions_path, :class => 'back-link') %>

<div class="question delete">
  <h2>Delete question</h2>
  
  <%= form_for(:question, :url => question_path(@question.id),:html=> {:method => :delete} ) do |f| -%>

    <p>Are you sure you want to permanently delete this question?</p>
  
    <p class="reference-name"><%= @question.question %></p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete question") %>
    </div>
    
  <% end %>
</div>
