
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="Question edit">
  <h2>Update Question</h2>

  <%= form_for(:question, :url => {:action => 'update', :id => @question.id}) do |f| %>
   <%= render( :partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update question") %>
    </div>
  <% end %>
</div>
