



<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="question new">
  <h2>Create Question</h2>

  <%= form_for(:question, :url => {:action => 'create'}) do |f| %>
  
    <%= render( :partial => "form", :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= submit_tag("Add New Question") %>
    </div>
    
  <% end %>
</div>
