<!-- #authors Will Nance and Sanket Prabhu -->
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div class="General-container">
  <div class="hero-unit">
    <%if @assignment.blank == true%>
    <p>The response was blank. you werent able to answer the question in time.</p>
  <%end%>
    <p> The question response was <%= @assignment.correct %> </p>
  </div>
  
</div>