<div class ="admin show">
  <%if @admin%>
    <%= render( :template => "questions/show") %>
  <%end%>
</div>
<div class ="user show">
  <h1>Answer Question</h1>
  <div class ="rules">
    <p>
      You are about to respond to this question. Once you view this question, you will have three minutes to respond. You have one attempt.
    </p>
  </div>
  <%=link_to("Begin assignment" , {:action => 'edit', :user => @user} , :class => "begin link")%>
</div>