
<%= link_to("<< Back to List", admins_path, :class => 'back-link') %>

<div class="Admin edit">
  <h2>Update Administrators</h2>
<%  #{:action => 'update', :id => @Admin.id}%>
  <%= form_for(:Admin, :url => admin_path(@Admin.id), html => {:method=> :put} ) do |f| %> 
    <%=render(:partial => "form",  :locals => {:f=>f})%>
    
    <div class="form-buttons">
      <%= submit_tag("Update Admin") %>
    </div>
  <% end %>
</div>
