
<%= link_to("<< Back to List", admins_path, :class => 'back-link') %>

<div class="Admin new">
  <h2>Create new Administrator</h2>

  <%= form_for(:Admin, :url => admins_path , :html => {:method => :post}) do |f| %>

    <%= render( :partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Add New Administrator") %>
    </div>

  <% end %>
</div>




