
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="User edit">
  <h2>Update User</h2>

  <%= form_for(:User, :url => {:action => 'update', :id => @User.id}) do |f| %>
    <%=  render(:partial => "form" , :locals => {:f => f})  %>
    
    <div class="form-buttons">
      <%= submit_tag("Update User") %>
    </div>
  <% end %>
</div>
