
<%= form_tag({:controller =>'access' , :action => "attempt_password_recover"}, :class => 'form-signin') do %>
  <h2 class="form-signin-heading">Enter your username</h2>
  <div class="instruction-text">
    <p>Enter your username in the field below. An email will be sent to the email on record for your account with instructions</p>
  </div>
  <%= label_tag(:username) %>
  <%= text_field_tag(:username , nil, :class => "input-block-level")%> <br/>
  <button class ="btn btn-large btn-primary" type ="submit" value ="Log In">Log In</button>
<%end%>