
#notice{
    padding-right: 100px
}

.brand:hover{
    text-decoration: none;
}

.navbar navbar-inverse navbar-fixed-top{
    margin-bottom: 20px;
}

.row-fluid{
    margin-top: 60px;
    white-space: nowrap;
}

.mysidebar{
    float:left;
    width: 300px;
}

.menu{
    float:left;
}

Admin-container{
    display: inline-block;
    margin-left: 30px;
}

.General-container{
    display: inline-block;
    margin-left: 30px;
}


.listing{
    text-align: center;
    width: 1000px
}